@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  padding: 100px;
}

.banner {
  position: relative;
  min-height: 100vh;
  background: url(./img/banner.jpg);
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner h2 {
  font-size: 3em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
}

.banner h2 span {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 4px;
}

.banner h3 {
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;
}

.btn {
  position: relative;
  background: #2196f3;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 24px;
  letter-spacing: 1px;
  font-weight: 500;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header.sticky {
  background: #fff;
  padding: 24px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header.sticky .logo {
  color: #111;
}

header .logo {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

header ul {
  display: flex;
  position: relative;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
}

header.sticky ul li a {
  color: #111;
}

.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #111;
}

.heading h2 {
  font-weight: 600;
  font-size: 32px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content-box {
  padding-right: 30px;
}

.content-box h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.w50 {
  min-width: 50%;
}

img {
  max-width: 100%;
}

.services {
  background: #111;
}

.heading.white {
  color: #fff;
}

.services .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.services .content .services-box {
  padding: 40px 20px;
  background: #222;
  color: #fff;
  max-width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
}

.services .content .services-box:hover {
  background: #2196f3;
}

.services .content .services-box img {
  max-width: 80px;
  filter: invert(5);
}

.services .content .services-box h2 {
  font-size: 20px;
  font-weight: 500;
}

.services .content .services-box p {
  font-size: 14px;
  font-weight: 300;
  color: rgb(212, 212, 212);
}

.work .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.work .content .work-box {
  width: 50%;
  padding: 20px;
}

.work .content .work-box img {
  max-width: 100%;
}

.testimonial {
  background: #f7f7ff;
}

.testimonial .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.testimonial .content .testimonial-box {
  max-width: calc(50% - 40px);
  padding: 60px 40px;
  margin: 20px;
  background: #2196f3;
}

.testimonial .content .testimonial-box p {
  color: #fff;
  font-style: italic;
  font-size: 16px;
  font-weight: 300;
}

.testimonial .content .testimonial-box h3 {
  margin-top: 40px;
  text-align: end;
  color: #111;
  font-weight: 600;
  font-size: 20px;
}

.testimonial .content .testimonial-box h3 span {
  font-size: 14px;
  font-weight: 400px;
  color: #fff;
}

.contact {
  background: #111;
}

.form-box {
  min-width: 60%;
}

.form-box form {
  display: flex;
  flex-direction: column;
}

.form-box form h3,
.contact-info h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.form-box form input,
.form-box form textarea {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 16px;
  background: #222;
  border: none;
  outline: none;
  color: #fff;
  resize: none;
}

.form-box form textarea {
  min-height: 200px;
}

.material-icons {
  color: #2196f3;
}
